* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  font-size: 1.6rem;
  font-family: "Muli", sans-serif;
}

/* basic values */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", serif;
}

/*  basis classes */
